html{
    block-size: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
    color: $color-text;
}
// ul,
// li{
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }
body{
    font-family:'HelveticaNeue-Medium', sans-serif;
    font-size: 12px;
    color-interpolation-filters: #575656;
     
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}